.header {
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.5;
}
.header span {
  display: block;
}
.section {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.5;
  color: #0c0c0c;
  background-color: #0f0f0f;
}
